h1= imageName
link(rel='stylesheet', href='/stylesheets/image.css')
script(src='/javascripts/imageviewer.js')

#description.textbox
    p imageDescription

#viewer.viewbox
    | <canvas id="viewport" width=500 height=500> 
    | </canvas>


