!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/image.css')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/imageviewer.js')

    body(onload='init('+imageId+')')
        #pghead.page-header
            #pgtitle.titlebar
                h1 Image 
                    small=imageId
        #app.container-fluid
            #viewer.content
                | <canvas id="viewport" width=800 height=600> 
                | </canvas>
            #controls.sidebar
                h6 Description
                #description
                    p= imageDescription
                #tags
                    h6 Tags
                    button(id='tagAddButton', ).btn.primary Add

                    #taglist
                #rois
                    h6 ROIs
                    button(id='roiAddButton', onclick='penDown()').btn.primary Add

