canvas {

}

div.selectDependent {
	display: none;
}

div.footer {
	position:fixed;
	bottom:0;
	z-index:999999;
}

div.darkbg {
	background-image:url('/images/dark_bg.png');
	background-repeat:no-repeat;
}